<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Coefficient
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131117

-->

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Портал SZVK предназначен для обработки СЗВ-К xml файлов.</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="css/default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<header th:insert="blocks/head::header"></header>

		<div class="container mt-5">


          <div class="uploadFile">
					 <form method="post" enctype="multipart/form-data" modelAttribute="uploadedFile" action="uploadFile">
							<table>
								<tr>
									<td>Укажите путь к файлу для загрузки</td>
									<td><input type="file" name="file"  multiple/></td>
									<td style="color: red; font-style: italic;">

									</td>
								</tr>
								<tr>
							<td></td>
							<td><input type="submit" value="Загрузить файл СЗВ-К" /></td>
							<td></td>
								</tr>
							</table>
				   </form>

           </div>



		</div>

	</div>
	<br/>

<div class="container mt-5">
	<div class="uploadFile">
		<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
			<div class="form-group">
				<label class="control-label" for="files">Укажите файлы для загрузки:</label>
				<input type="file" class="form-control" id="files"
					   placeholder="Укажите файлы для загрузки"  name="files" multiple></input>
			</div>
			<button type="submit" class="btn btn-default" id="btnSubmit">Загрузить файл СЗВ-К</button>
		</form>
	</div>
</div>

	<footer th:insert="blocks/footer::footer"></footer>

</body>
</html>
