<div th:fragment = "footer">
    <div id="portfolio-wrapper">
        <div id="portfolio" class="container">
            <!-- <div class="title">
                <h3>ОПФР по г. Севастополю</h3>
                <span class="byline">Отдел информационных технологий</span>
            </div>-->
            <div class="column1">
                <div class="box">
                    <h3>Разработка и внедрение</h3>
                    <p>Отдел информационных технологий</p><br>
                    <a href="http://10.200.77.189:8080/intranet/ru_RU/group/g.sevastopol-/telefonnyj-spravocnik" class="button">Контакты сотрудников</a> </div>
            </div>
            <div class="column2">
                <div class="box">
                    <h3>Прием входных данных (СЗВ-К)</h3>
                    <p>Отдел персонифицированного учета</p>
                    <a href="http://10.200.77.189:8080/intranet/ru_RU/group/g.sevastopol-/telefonnyj-spravocnik" class="button">Контакты сотрудников</a> </div>
            </div>
            <div class="column3">
                <div class="box">
                    <h3>Обработка полученной информации</h3>
                    <p>Группа по заблаговременной работе</p>
                    <a href="http://10.200.77.189:8080/intranet/ru_RU/group/g.sevastopol-/telefonnyj-spravocnik" class="button">Контакты сотрудников</a> </div>
            </div>
            <!--	<div class="column4">
                    <div class="box">
                        <h3>Mauris vulputate dolor</h3>
                        <p>Rutrum fermentum nibh in augue praesent urna congue rutrum.</p>
                        <a href="http://10.200.77.189:8080/intranet/ru_RU/group/g.sevastopol-/telefonnyj-spravocnik" class="button">Etiam posuere</a> </div>
                </div>
            </div>-->
        </div>
    </div>

    <div id="footer">
        <p>&copy; ОПФР по г. Севастополю <a href="http://pfrf.ru" rel="nofollow">Н. Музыки 60а</a>. Портал для <a href="http://fotogrph.com/">заблаговременнолй работы</a>.</p>
    </div>
</div>